<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>로그인 페이지</h1>
<form method="post" action="/login">
    <input type="text" name="username" value="ssar"><br>
    <input type="text" name="password" value="1234"><br>
    <button>로그인</button>
</form>
</body>
</html>